@import url("./producto-config.css");

.producto {
  position: relative;
  width: calc(95% / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
}

.producto--portada {
  width: 100%;
  height: 174px;
  object-fit: cover;
  filter: contrast(155%) brightness(18%);
}

.producto--nombre,
.producto--id,
.producto--precio,
.producto--categoria,
.producto--descripcion {
  color: var(--tertiary-color);
  font-size: var(--font-size-card-textos);
  font-weight: 700;
}

.producto--detalle {
  display: none;
}

@media screen and (min-width: 768px) {

  .producto,
  .producto--categoria {
    width: calc(95% / 4);
  }

  .productos--cabecera {
    flex-direction: row;
    justify-content: space-between;
  }

  .productos--lista {
    justify-content: flex-start;
    gap: 30px 10px;
  }

  .detalle-cover {
    display: block;
  }

  .producto-cabecera--boton--vinculo,
  .producto-contenido--vinculo {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {

  .productos-card--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffffff;
    width: 100%;
    background: aliceblue;
  }

  .producto {
    width: 100%;
    margin: 10px 10px 10px 10px;
  }

  .producto--categoria {
    width: calc(95% / 3);
  }

  .producto--categoria:nth-last-child(-n + 2) {
    display: block;
  }

  .producto--detalle {
    color: #ffffff;
  }
}