.nav-boton {
  background: var(--transparency-color);
  color: var(--color-elementos);
  box-shadow: var(--box-shadow-button);
  display: inline-flex;
  border-radius: var(--border-button);
  font-size: var(--font-size-button);
  text-decoration: none;
  color: var(--primary-color);
  justify-content: center;
  line-height: 40px;
  width: 90px;
  transition: all 500ms ease-in-out;
}

.nav-boton:hover {
  background: var(--secundary-color);
  color: var(--color-background);
  font-weight: bold;
}

/*
.nav-boton--administrador {
  width: 170px;
}
*/

@media (min-width: 768px) {
  .nav-boton {
    width: 200px;
    height: 40px;
    line-height: 40px;
  }
}