.banner-info {
  color: #fff;
  transform: translateY(120px);
}

.banner-info--nombre {
  font-family: var(--font-nombre);
  font-size: var(--font-size-banner-nombre);
  margin-bottom: 0px;
}

.banner-info--subnombre {
  font-weight: 300;
  font-size: var(--font-size-banner-subnombre);
  margin-bottom: 8px;
}

.banner-info--boton {
  width: 118px;
  height: 40px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .banner-info {
    transform: translateY(170px);
  }

  .banner-info--nombre,
  .banner-info--subnombre {
    margin-bottom: 16px;
  }
}

@media (min-width: 992px) {
  .banner-info {
    transform: translateY(150px);
  }

  .banner-info--nombre {
    font-size: var(--font-size-banner-nombre);
  }

  .banner-info--subnombre {
    font-weight: 600;
    font-size: var(--font-size-banner-subnombre);
    margin-bottom: 8px;
  }
}