.inputs {
  margin-bottom: 16px;
}

.inputs--input,
.inputs--textarea {
  width: 100%;
  font-family: var(--font-parrafos);
  font-size: var(--font-size-input);
  outline: none;
}

input[type="file"] {
  display: flex;
}

.inputs--file::after {
  content: 'Ningún archivo seleccionado';
  position: absolute;
  top: 8px;
  left: 90px;
  /* Ajusta esto según tus necesidades */
  pointer-events: none;
}

.inputs--input {
  height: 56px;
  padding-inline: 10px;
}

.inputs--textarea {
  height: 82px;
  padding: 10px;
}

.input--mensaje {
  display: inline-block;
  margin-top: 6px;
  color: var(--error-color);
  font-size: var(--font-size-error);
}