@import url("./productos-cabecera.css");
@import url("./productos-cards.css");

.productos {
  margin: 40px auto;
}

.productos-lista {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

@media (min-width: 992px) {
  .productos {
    margin: 70px auto;
  }
}