.productos-cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 5px;
  margin-bottom: 16px;
}

.productos-cabecera--nombre {
  font-family: var(--font-nombre);
  color: var(--secundary-color);
  font-size: var(--font-size-nombre);
}

.productos-cabecera--boton {
  color: var(--color-background);
  background: var(--secundary-color);
  font-family: var(--font-parrafos);
  font-size: var(--font-size-button);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 150px;
  height: 40px;
}

@media (min-width: 768px) {
  .productos-cabecera {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .productos-cabecera--boton {
    height: 51px;
    width: 185px;
  }
}